<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title></title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <h2>Realice su Reserva</h2>
        <p>Para una eliminacion de una reserva por favor ponerse en contacto con TicoHotel.com o al 0800TicoHotel<p>
        <section th:replace="~{reserva/fragmentos :: AgregarReserva}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>      

    </body>
</html>
