<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>TicoHotel</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>
    
    <article>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <h2>¡Bienvenido a TicoHotel!</h2>
                    <p>Explora el mundo con TicoHotel, tu puerta de entrada a una experiencia de viaje sin igual. Con una amplia selección de hoteles en destinos de ensueño en todo el mundo, estamos aquí para hacer que cada viaje sea inolvidable.</p>
                    <p>Ya sea que estés planeando unas vacaciones tropicales, un viaje de negocios o una escapada urbana, TicoHotel te ofrece una variedad de opciones de alojamiento que se adaptan a tus necesidades y preferencias. Desde lujosos resorts frente al mar hasta acogedores bed and breakfasts en encantadores pueblos, tenemos el lugar perfecto para ti.</p>
                </div>
            </div>
        </div> 
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <h3>Nuestros Hoteles</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                         <div class="row">
                            <div class="col-md-6">
                                <p>Hotel Conchal, Ubicado en guanacaste dentro de la playa Conchal,Un hermoso hotel ubicado en la playa Conchal </p>
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/IB9p4PeXqPo?si=AhmNOcCqu3YJUtPF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="col-md-6">
                                <p>Hotel Avellanas, Ubicado en guanacaste dentro de la playa Avellana,Un acogedor hotel ubicado en la playa Avellanas. </p>
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/-x_R71RhTHQ?si=_I1PfoZ9uCJKLM9Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                         </div>
                         <div class="row mt-4">
                            <div class="col-md-6">
                                <p>Hotel Gregorio, Ubicado en guanacaste dentro de la playa Gregorio ,Un exclusivo hotel ubicado en la playa Gregorio. </p>
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/_Z8y2AKDTQo?si=0GxQ1hC2DmtEubFK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div> 
    </article>
    
    <footer th:replace="~{layout/plantilla :: footer}"/>               
</body>
</html>
